version: "3.9"

services:
  backend:
    build: ./server
    expose:
      - "4000"
    env_file:
      - ./server/.env
    networks:
      - app-network

  frontend:
    build: ./client
    expose:
      - "80"
    env_file:
      - ./client/.env
    depends_on:
      - backend
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
      - frontend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge